@model DegicEducation.Areas.Admin.Models.CourseViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
        <div class="row x_title">
            <div class="col-md-6">
                <h2>Thêm mới khóa học</h2>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal" asp-controller="course" asp-action="New" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Tên</label>
                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control height-input" id="name"  onkeyup="ChangeToSlug();">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="alias" class="col-sm-2 control-label">Định danh</label>
                    <div class="col-sm-10">
                        <input asp-for="Alias" class="form-control height-input" id="alias">
                        <span asp-validation-for="Alias" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                  <label for="khoahoc" class="col-sm-2 control-label">Khóa học</label>
                  <div class="col-sm-3">
                        <select asp-for="CourseId" asp-items="ViewBag.ListParrent" class="form-control select-text" id="khoahoc"></select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                  </div>
                </div>
                <div class="form-group">
                    <label for="add" class="col-sm-2 control-label">Ảnh đại diện</label>
                    <div class="col-sm-10">
                        <input asp-for="Image" class="form-control height-input" id="add">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="orders" class="col-sm-2 control-label">STT</label>
                    <div class="col-sm-2">
                        <input asp-for="Orders" class="form-control height-input" id="orders">
                        <span asp-validation-for="Orders" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                        <label class="col-sm-2"><input asp-for="Activated" checked/>   hiển thị</label>
                  </div>
                </div>
                <div class="form-group">
                    <label for="txtprice" class="col-sm-2 control-label">Học phí</label>
                    <div class="col-sm-3">
                        <input asp-for="Price" class="form-control height-input" id="txtprice">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-sm-2 control-label">Trạng thái</label>
                    <div class="col-sm-3">
                        <input asp-for="Status" class="form-control height-input" id="status">
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="shortdescription" class="col-sm-2 control-label">Mô tả ngắn</label>
                    <div class="col-sm-10">
                        <input asp-for="ShortDescription" class="form-control height-input" id="shortdescription">
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">Nội dung</label>
                    <div class="col-sm-10">
                        <textarea asp-for="Content" class="form-control" id="content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
