@model DegicEducation.Areas.Admin.Models.SlideViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
        <div class="row x_title">
            <div class="col-md-6">
                <h2>Thêm mới slide</h2>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal" asp-controller="Slide" asp-action="New" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Tên</label>
                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control height-input" id="name"  onkeyup="ChangeToSlug();">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="alias" class="col-sm-2 control-label">Định danh</label>
                    <div class="col-sm-10">
                        <input asp-for="Alias" class="form-control height-input" id="alias">
                        <span asp-validation-for="Alias" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="add" class="col-sm-2 control-label">Ảnh đại diện</label>
                    <div class="col-sm-10">
                        <input asp-for="Image" class="form-control height-input" id="add">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                        <label class="col-sm-2"><input asp-for="Activated" checked/>   hiển thị</label>
                        <label class="col-sm-2"><input asp-for="ButtonViewer"/>   hiển thị nút xem</label>
                  </div>
                </div>
                <div class="form-group">
                    <label for="linkViewer" class="col-sm-2 control-label">Link</label>
                    <div class="col-sm-10">
                        <input asp-for="LinkViewer" class="form-control height-input" id="linkViewer">
                        <span asp-validation-for="LinkViewer" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
